
{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
<h2>Patients</h2>
<a href="{% url 'add_patient' %}" class="btn btn-primary mb-3">
Add Patient
</a>
<form method="GET" class="mb-3">
<div class="input-group">
<input
type="text"
name="q"
class="form-control"
placeholder="Search patient..."
value="{{ request.GET.q }}">
<button class="btn btn-primary">
Search
</button>
</div>
</form>

<table class="table table-bordered">
<thead>
<tr>
<th>ID</th>
<th>Name</th>
<th>Gender</th>
<th>Phone</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
{% for patient in patients %}
<tr>
<td>{{ patient.patient_id }}</td>
<td>{{ patient.first_name }} {{ patient.last_name }}</td>
<td>{{ patient.gender }}</td>
<td>{{ patient.phone }}</td>
<td>
<a href="{% url 'edit_patient' patient.patient_id %}" class="btn btn-warning btn-sm">
Edit
</a>
<a href="{% url 'delete_patient' patient.patient_id %}"
class="btn btn-danger btn-sm"
onclick="return confirm('Delete this patient?')">
Delete
</a>

</td>
</tr>
{% empty %}
<tr>
<td colspan="5">
No patients found.
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
